@import '../../style/fonts';

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}
  

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 169px;
    padding-bottom: 16px;
}

.header__logo {
    display: flex;
    height: 48px;
    padding: 11.5px 0px;
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    
}

.header__nav-search {
    width: 90%;
    height: 48px;
    display: flex;
    border: 0.5px solid #E1E1E1;
    border-radius: 5px;
    background-color: #FAFAFA;
    align-items: center;
    padding-left: 20px;
    font-family: 'AvenirNextLTPro-Regular';
    color:#323232;
    font-size: 14px;
    letter-spacing: 0.5px;
    span {
        margin-left: 10px;
        padding-top: 3.5px;
    }
}

.header__nav-side {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-top: 8px;
}

.header__nav-side--upload {
    background-color: #0095FF;
    display: flex;
    width: 78%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'AvenirNextLTPro-Regular';
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    span {
        margin-left: 10px;
        padding-top: 3.5px;
    }
}

.header__nav-side--person {
    display: flex;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-position: 30% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/Images/Mohan-muruge.jpg);
}

