
@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url(../assets/fonts/AvenirNextLTPro-Regular.otf) format('woff2');
}

@font-face {
  font-family: 'AvenirNextLTPro-Bold';
  src: url(../assets/fonts/AvenirNextLTPro-Bold.otf) format('woff2');
}

@font-face {
  font-family: 'AvenirNextLTPro-Demi';
  src: url(../assets/fonts/AvenirNextLTPro-Demi.otf) format('woff2');
}

@font-face {
  font-family: 'AvenirNextLTPro-Medium';
  src: url(../assets/fonts/AvenirNextLTPro-Medium.otf) format('woff2');
}

@font-face {
  font-family: 'AvenirNextLTPro-Light';
  src: url(../assets/fonts/AvenirNextLTPro-Light.otf) format('woff2');
}

@font-face {
  font-family: 'AvenirNextLTPro-Light';
  src: url(../assets/fonts/AvenirNextLTPro-Light.otf) format('woff2');
}

@font-face {
  font-family: 'AvenirNextLTPro-Thin';
  src: url(../assets/fonts/AvenirNextLTPro-Thin.otf) format('woff2');
}