

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1200px;


$color-background-black: #323232;
$color-background-lighestgrey: #FAFAFA;

$color-text-black: #323232;
$color-text-gray: #E1E1E1;
$color-text-darkgray: #AFAFAF;