@import '../../style/fonts';
@import '../../style/mixins';
@import '../../style/variables';

html {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
  
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

  
.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 169px;
    padding-bottom: 16px;
    @include tablet {
        height: 80px;
        flex-direction: row;
        padding: 0 3.125%;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 3px;
    }
}

.header__logo {
    display: flex;
    height: 48px;
    padding: 11.5px 0px;
    @include tablet {
        height: 26px;
        padding: 0px;
    }
}

.header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    @include tablet {
        flex-direction: row;
        justify-content: flex-end;
        width: 65%;
        
      

    }
    
}

.header__nav-search {
    width: 90%;
    height: 48px;
    display: flex;
    border: 0.5px solid #E1E1E1;
    border-radius: 5px;
    background-color: #FAFAFA;
    align-items: center;
    padding-left: 20px;
    font-family: 'AvenirNextLTPro-Regular';
    color:#323232;
    font-size: 14px;
    letter-spacing: 0.5px;
    @include tablet {
        width: 50%;
        margin-right: 24px;
    }
    span {
        margin-left: 10px;
        padding-top: 3.5px;
    }
}

.header__nav-side {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-between;
    margin-top: 8px;
    @include tablet {
        margin-top: 0px;
        width: 38%;
        justify-content: flex-start;
    }
}

.header__nav-side--upload {
    background-color: #0095FF;
    display: flex;
    width: 78%;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    font-family: 'AvenirNextLTPro-Regular';
    color: white;
    font-size: 14px;
    letter-spacing: 0.5px;
    @include tablet {
        width: 65%;
        margin-right: 24px;
    }
    span {
        margin-left: 10px;
        padding-top: 3.5px;
    }
}

.header__nav-side--person {
    display: flex;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    background-position: 30% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/Images/Mohan-muruge.jpg);
}

